{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
  <script>
    function copyURI(evt) {
      evt.preventDefault();
      navigator.clipboard.writeText(evt.target.getAttribute('href')).then(() => {
        /* clipboard successfully set */
      }, () => {
        /* clipboard write failed */
      });
    }
  </script>
  {% if results|length == 1 %}
    <h2>one time secret</h2>
  {% else %}
    <h2>one time secrets</h2>
  {% endif %}
  {% for result in results %}
    <pre><a href="{{ result }}">{{ result }}</a></pre>
    <a class="btn btn-primary text-white" href="{{ result }}" onclick="copyURI(event)">Copy URL To Clipboard{{ render_icon('files') }}</a>
  {% endfor %}
{% endblock %}
